In [2]:
import pandas as pd

In [5]:
data = pd.read_html('https://pl.wikipedia.org/wiki/Miasta_w_Polsce', header=0)
data1 = pd.read_html('http://zamkowa2.pl/lokale/',header=0)

In [4]:
data[0]

,Lp.,Miasto,Województwo,Liczbamieszkańców,Gęstość zaludnienia [osoby/km²]
0,1.0,Warszawa,mazowieckie,1 860 281,3597
1,2.0,Kraków,małopolskie,800 653,2450
2,3.0,Wrocław,dolnośląskie,672 929,2298
3,4.0,Łódź,łódzkie,670 642,2287
4,5.0,Poznań,wielkopolskie,546 859,2088
5,6.0,Gdańsk,pomorskie,486 022,1855
6,7.0,Szczecin,zachodniopomorskie,396 168,1318
7,8.0,Bydgoszcz,kujawsko-pomorskie,337 666,1919
8,9.0,Lublin,lubelskie,334 681,2270
9,10.0,Białystok,podlaskie,294 242,2881

In [7]:
data[1]

    Lp.            Miasto         Województwo Powierzchnia [ha]
0   1.0          Warszawa         mazowieckie            51 724
1   2.0            Kraków         małopolskie            32 685
2   3.0          Szczecin  zachodniopomorskie            30 060
3   4.0              Łódź             łódzkie            29 325
4   5.0           Wrocław        dolnośląskie            29 282
5   6.0      Zielona Góra            lubuskie            27 832
6   7.0            Gdańsk           pomorskie            26 196
7   8.0            Poznań       wielkopolskie            26 191
8   9.0       Świnoujście  zachodniopomorskie            20 207
9  10.0  Dąbrowa Górnicza             śląskie            18 873

In [6]:
data1[0]

     L.P Nr lokalu                                Stan prawny  Uwagi
0    1.0    2 + 10  W trakcie wymeldowania z urzędu (2 osoby)  Pusty
1    2.0         3                                        NaN  Pusty
2    3.0         4    Lokal użytkowany przez współwłaścicieli    NaN
3    4.0         5                                      Pusty    NaN
4    5.0         6                      Um. czas nieokreślony    NaN
5    6.0         7                                     Zajęty    NaN
6    7.0         8                      Um. czas nieokreślony    NaN
7    8.0        11                                      Pusty    NaN
8    9.0        14                                      Pusty    NaN
9   10.0        15                         Um. czas określony    NaN
10  11.0        16                         Um. czas określony    NaN
11  12.0        17                                      Pusty    NaN
12  13.0        18                                      Pusty    NaN
13  14.0        19                                      Pusty    NaN
14   NaN       NaN                                        NaN    NaN
15   NaN       NaN                                        NaN    NaN
16   NaN       NaN                                        NaN    NaN
17   NaN       NaN                                        NaN    NaN