In [1]:
import pandas as pd

In [14]:
#import pliku z aplikacji monefy

In [19]:
df = pd.read_csv('finance_data/monefy-2022-12-14_03-07-14_ALL.csv')

In [40]:
#wrzucenie danych do pliku excel
#df.to_excel('finance_data/excelled.xlsx', sheet_name='koszty')

In [41]:
df

,date,account,category,amount,currency,converted amount,currency.1,description
0,8/31/2021,Cash,Bills,-1500.00,THB,-1500.00,THB,Jakis wydatek w sierpniu
1,9/2/2021,Cash,Food,-614.55,THB,-614.55,THB,Jedzenie
2,9/2/2021,Cash,Food,-108.26,THB,-108.26,THB,Napoje
3,9/2/2021,Cash,Entertainment,-311.63,THB,-311.63,THB,Alkohol
4,9/2/2021,Cash,Entertainment,-200.53,THB,-200.53,THB,Slodkie
...,...,...,...,...,...,...,...,...
2202,12/13/2022,Cash,Food,-490.00,THB,-490.00,THB,Indyjska kohinor
2203,12/13/2022,Cash,Health,-560.00,THB,-560.00,THB,Thai massage
2204,12/13/2022,Cash,Bills,-100.00,THB,-100.00,THB,Tip
2205,12/14/2022,Cash,Entertainment,-510.00,THB,-510.00,THB,Akohol mecz
2206,12/14/2022,Cash,Food,-100.00,THB,-100.00,THB,Lunch

In [22]:
print(type(df['date'][0]))

<class 'str'>

In [24]:
df['description'][2202]

'Indyjska kohinor'

In [38]:
df[ (df['amount'] > -1000) & (df['amount'] < -600)]

,date,account,category,amount,currency,converted amount,currency.1,description
1,9/2/2021,Cash,Food,-614.55,THB,-614.55,THB,Jedzenie
98,9/29/2021,Cash,Health,-750.00,THB,-750.00,THB,Galina
463,12/24/2021,Cash,Entertainment,-650.00,THB,-650.00,THB,"Singha cocotams, francuzi, black"
1471,7/7/2022,Cash,Gifts,-700.00,THB,-700.00,THB,Dla iswari
1931,10/18/2022,Cash,Food,-710.00,THB,-710.00,THB,Kolacja
1972,10/27/2022,Cash,Health,-750.00,THB,-750.00,THB,Akupunktura
1980,10/29/2022,Cash,Food,-690.00,THB,-690.00,THB,Snidanie daria
2056,11/14/2022,Cash,Health,-800.00,THB,-800.00,THB,Ziola
2086,11/19/2022,Cash,Food,-650.00,THB,-650.00,THB,Chicken satay singhas cola
2111,11/25/2022,Cash,Health,-800.00,THB,-800.00,THB,Ziola
2135,11/29/2022,Cash,Entertainment,-900.00,THB,-900.00,THB,Beers
2153,12/3/2022,Cash,Food,-800.00,THB,-800.00,THB,Lunch cooc tams
2155,12/4/2022,Cash,Food,-616.00,THB,-616.00,THB,Copacabana lubch

In [37]:
#df.groupby('category').sum()